<IfModule mod_rewrite.c>
    Options +FollowSymLinks
    RewriteEngine On

    # Prevent rewriting for requests to the public directory
    RewriteCond %{REQUEST_URI} !^/public/

    # Allow existing directories and files to be accessed
    RewriteCond %{REQUEST_FILENAME} !-d
    RewriteCond %{REQUEST_FILENAME} !-f

    # Redirect all other requests to the public directory
    RewriteRule ^(.*)$ public/$1 [L]

    # Handle requests to the root URL
    RewriteRule ^$ public/index.php [L]
</IfModule>
